body {
  background-color:darkred;
  color:lightyellow;
  font-family: "Trebuchet MS", "Comic Sans MS", cursive;
  margin: 0;
}

header {
  font-size: 60px;
  border-bottom: double 5px lightpink;
  padding: 6px;
  text-align: center;